.App {
  text-align: left;
  font-family: 'Segoe UI';
}

.header {
  font-size: 25px;
  background-color: #000;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
  background-image: url("PikPng.com_github-png_2562282.png");
  background-repeat: no-repeat;
}

.header h1 {
  color: #fff;
  text-align: center;
}

#searchBar {
  margin-bottom: 15px;
}

#searchButton {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  margin-left: 5px;
  font-size: .9em;
  font-weight: bold;
}

#searchButton:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

#searchBar label {
  margin-left: 40px;
  font-weight: bold;
  color: #fff;
}

#display {
  margin-left: 10px;
  margin-right: 10px;

  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #000;
  border-radius: 30px;
  background-color: #000;
}

#displayInfo {
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 30px;
  background-color: #fff;

  padding-top: 5px;
  padding-bottom: 5px;
}

#displayInfo h3 {
  margin-left: 40px;
}


/*--- Lyrics CSS --- */
.lyricsheader {
  font-size: 25px;
  background-color: rgb(22, 93, 175);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}
.lyricsheader h1 {
  color: #fff;
  text-align: center;
}

/*---Weather CSS --- */

.weatherheader{
  font-size: 25px;
  background-color: rgb(240, 205, 10);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}
.weatherheader h1 {
  color: #fff;
  text-align: center;
}